<a href="https://colab.research.google.com/github/Swaraj-sj2000/Machine-leaning-projects/blob/main/Support_Vector_Machine_from_scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np
class SVM_CLASSIFIER:
  def __init__(self,Learning_Rate,no_of_iterations,Lambda_Parameters):
    self.Learning_Rate=Learning_Rate
    self.no_of_iterations=no_of_iterations
    self.Lambda_Parameters=Lambda_Parameters

  def fit(self,X,Y):
    self.row,self.cols=X.shape
    self.w=np.zeros(self.cols)
    self.b=0
    self.X=X
    self.Y=Y

    for i in range(self.no_of_iterations):
      self.update_weights()

  def update_weights(self):
    Y_Label=np.where(self.Y<=0,-1,1)

    for index,X_i in enumerate(self.X):
      condition=Y_Label[index]*(np.dot(X_i,self.w)-self.b)>=1

      if condition==True:
        dw=2*self.Lambda_Parameters*self.w
        db=0

      else:
        dw=2*self.Lambda_Parameters * self.w-np.dot(X_i,Y_Label[index])
        db=Y_Label[index]

      self.w=self.w-self.Learning_Rate *dw
      self.b=self.b-self.Learning_Rate *db

  def predict(self,X):
    Output=np.dot(X,self.w)-self.b
    predicted_labels=np.sign(Output)
    Y_hat=np.where(predicted_labels<=-1,0,1)
    return Y_hat

In [22]:
import pandas as pd
diab_df=pd.read_csv("/content/diabetes.csv")
diab_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [23]:
print(diab_df['Outcome'].value_counts())
print(diab_df.isnull().sum())
diab_df.describe()

0    500
1    268
Name: Outcome, dtype: int64
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [25]:
features=diab_df.drop(columns='Outcome',axis=1)
target=diab_df['Outcome']
print(target,features)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [26]:
Scaler=StandardScaler()
X=Scaler.fit_transform(features)

In [27]:
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [28]:
X_train,X_test,Y_train,Y_test=train_test_split(X,target,test_size=.2,random_state=42)

In [29]:
for i in [X_train,X_test,Y_train,Y_test]:
  print(i.shape)

(614, 8)
(154, 8)
(614,)
(154,)

In [33]:
SVM=SVM_CLASSIFIER(Learning_Rate=0.001,no_of_iterations=1000,Lambda_Parameters=0.001)

In [34]:
SVM.fit(X_train,Y_train)
Y_pred=SVM.predict(X_train)
train_accuracy_score=accuracy_score(Y_train,Y_pred)

In [35]:
test_set_accuracy=accuracy_score(Y_test,SVM.predict(X_test))
print(train_accuracy_score,test_set_accuracy)

0.7736156351791531 0.7597402597402597

Building a predictive System

In [36]:
input_Data=(11,143,94,33,146,36.6,0.254,51)
input_data_as_numpy_array=np.asarray(input_Data)
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
std_data=Scaler.transform(input_data_reshaped)
prediction=SVM.predict(std_data)
print(prediction)

[1]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(